Source: ros-hydro-open-karto
Section: misc
Priority: extra
Maintainer: Stephan Wirth <swirth@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-open-karto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-catkin
Description: Release-package for OpenKarto
